<!DOCTYPE html>
<html>
  <head>
    <!-- 网页标题 -->
    <title><%= title %></title>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/font-awesome-4.7.0/css/font-awesome.min.css'/>
    <link rel='stylesheet' href="/stylesheets/index.css"/>
    <script src="/lib/jquery-3.1.1.min.js"></script>
  </head>
  <body>
    <div class="title-box">
      <div class="title-text">欢迎使用算法可视化系统</div>
    </div>
    <div class="choose-box">
      <div id="student-btn" class="show-login-btn"><i class="fa fa-sign-in" aria-hidden="true"><strong> 学生</strong></i></div>
      <div id="teacher-btn" class="show-login-btn"><i class="fa fa-sign-in" aria-hidden="true"><strong> 教师</strong></i></div>
      <div id="admin-btn" class="show-login-btn"><i class="fa fa-sign-in" aria-hidden="true"><strong> 管理员</strong></i></div>
    </div>
  </body>
  <script src="/javascripts/index.js"></script>
</html>
